n8n/workflows/04-email-sender.json
{
  "name": "04 - Email Sender",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.NEXT_APP_URL }}/api/email/send",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "attempt_id", "value": "={{ $json.attempt.id }}" },
            { "name": "org_id",     "value": "={{ $json.attempt.org_id }}" }
          ]
        },
        "options": {}
      },
      "id": "send-email-api",
      "name": "Send Email via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": { "name": "Recoverly Internal Secret" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{ $json.success }}", "value2": true }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE recovery_attempts SET status = 'failed', updated_at = NOW() WHERE id = '={{ $('Start').first().json.attempt.id }}'"
      },
      "id": "mark-failed",
      "name": "Mark Failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [850, 460]
    }
  ],
  "connections": {
    "Start":            { "main": [[{ "node": "Send Email via API", "type": "main", "index": 0 }]] },
    "Send Email via API": { "main": [[{ "node": "Check Success",     "type": "main", "index": 0 }]] },
    "Check Success":    {
      "main": [
        [],
        [{ "node": "Mark Failed", "type": "main", "index": 0 }]
      ]
    }
  }
}
