n8n/workflows/07-payday-optimizer.json
{
  "name": "07 - Payday Optimizer",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calculate optimal retry time based on failure code and day of week\nconst attempt = $input.first().json;\nconst failureCode = attempt.failure_code || '';\nconst now = new Date();\nconst hour = now.getHours();\nconst dayOfWeek = now.getDay(); // 0=Sun, 6=Sat\n\n// Optimal retry windows: weekdays 10am-12pm or 6pm-8pm\nlet delayHours = 4; // default\n\nif (failureCode === 'insufficient_funds') {\n  // Retry near payday: 1st and 15th of month\n  const today = now.getDate();\n  const nextPayday = today < 15 ? 15 : new Date(now.getFullYear(), now.getMonth() + 1, 1).getDate();\n  const daysUntilPayday = nextPayday - today;\n  delayHours = daysUntilPayday * 24 + 10; // 10am on payday\n} else if (failureCode === 'card_declined') {\n  delayHours = 24; // retry next day\n} else if (failureCode === 'expired_card') {\n  delayHours = 2; // quick email to update card\n} else {\n  // Avoid weekends for retries\n  if (dayOfWeek === 5) delayHours = 72; // Friday → Monday\n  else if (dayOfWeek === 6) delayHours = 48; // Saturday → Monday\n  else if (hour < 9) delayHours = 9 - hour; // wait until 9am\n  else if (hour > 20) delayHours = 24 - hour + 9; // wait until next day 9am\n}\n\nreturn [{ json: { ...attempt, optimal_delay_hours: delayHours } }];"
      },
      "id": "calculate-optimal-time",
      "name": "Calculate Optimal Retry Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "table": "recovery_attempts",
        "updateKey": "id",
        "columns": "scheduled_at"
      },
      "id": "update-schedule",
      "name": "Update Retry Schedule",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Start": { "main": [[{ "node": "Calculate Optimal Retry Time", "type": "main", "index": 0 }]] },
    "Calculate Optimal Retry Time": { "main": [[{ "node": "Update Retry Schedule", "type": "main", "index": 0 }]] }
  }
}
