n8n/workflows/07-payday-optimizer.json
{
  "name": "07 - Payday Optimizer",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calculate optimal retry time based on failure code and reschedule the attempt.\n// Input must include: { id, failure_code }\nconst attempt = $input.first().json;\nconst failureCode = attempt.failure_code || '';\nconst now = new Date();\nconst dayOfWeek = now.getDay(); // 0=Sun, 6=Sat\nconst hour = now.getHours();\n\nlet delayHours = 4; // default\n\nif (failureCode === 'insufficient_funds') {\n  // Retry near payday: 1st or 15th of month\n  const today = now.getDate();\n  let nextPayday;\n  if (today < 15) {\n    nextPayday = new Date(now.getFullYear(), now.getMonth(), 15);\n  } else {\n    nextPayday = new Date(now.getFullYear(), now.getMonth() + 1, 1);\n  }\n  nextPayday.setHours(10, 0, 0, 0);\n  delayHours = Math.max(1, Math.ceil((nextPayday - now) / 3600000));\n} else if (failureCode === 'card_declined') {\n  delayHours = 24;\n} else if (failureCode === 'expired_card') {\n  delayHours = 2;\n} else {\n  // Avoid weekends\n  if (dayOfWeek === 5) delayHours = 72;      // Friday → Monday\n  else if (dayOfWeek === 6) delayHours = 48; // Saturday → Monday\n  else if (hour < 9) delayHours = 9 - hour;\n  else if (hour > 20) delayHours = 24 - hour + 9;\n}\n\nconst scheduledAt = new Date(now.getTime() + delayHours * 3600000).toISOString();\n\nreturn [{ json: { id: attempt.id, scheduled_at: scheduledAt } }];"
      },
      "id": "calculate-optimal-time",
      "name": "Calculate Optimal Retry Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE recovery_attempts SET scheduled_at = '{{$json.scheduled_at}}' WHERE id = '{{$json.id}}' AND status = 'scheduled'"
      },
      "id": "update-schedule",
      "name": "Update Retry Schedule",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Start": { "main": [[{ "node": "Calculate Optimal Retry Time", "type": "main", "index": 0 }]] },
    "Calculate Optimal Retry Time": { "main": [[{ "node": "Update Retry Schedule", "type": "main", "index": 0 }]] }
  }
}
